@use "index";

.header {
	width: 100%;
	padding: 2rem 0;
	background: var(--gradient-light);
	position: fixed;
	top: -2px;
	left: 0;
	z-index: 100;
	transition: all 0.3s ease-in-out;

	[data-scrolled="true"] & {
		padding: 1rem 0;
	}

	[data-scrolled="true"] & .logo {
		width: 4rem;
	}

	[data-scrolled="true"] & .link {
		padding: 0.5rem 0;
	}

	@include index.response-min(index.$md) {
		[data-element="menu-close"],
		[data-element="menu-open"],
		[data-element="popup-open"] {
			display: none;
		}
	}

	&__inner {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: space-between;
	}
}