# Git
.git
.gitattributes
gh-pages/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/
#composer.lock

# Vite/Build artifacts
dist/
public/dist/
.vite/
*.local
.cache/

# IDE and OS specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store/
Thumbs.db
*.log

# Environment files
.env
.env.*
!/.env.example

# Tests
test/