# Git
.git
gh-pages/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node.js
node_modules/
npm-debug.log

# Vite
dist/
public/dist/
.vite/
*.local
.cache/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Apache
.htaccess

# Nginx
storage/logs/nginx/*
!storage/logs/nginx/.gitkeep

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Tests
test/
vendor/
*.log
