.faq__inner {
    padding-bottom: 0;
    padding-top: 3rem;
}

.faq__item {
    position: relative;
}

.faq__item:not(:last-child) {
    border-bottom: 1px solid var(--main);
}

.faq__item-title {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 8rem 3rem 0;
    font-size: 3rem;
}

.faq__item-text {
    padding: 0 0 3rem;
    padding-right: 8rem;
}

.faq__item-inner {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.faq__item-inner.active {
    max-height: 20rem;
}

.faq__item-button {
    position: absolute;
    right: 0;
    top: calc(3rem + 5px);
}