.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 24rem;
    width: 100%;
    min-height: 5rem;
    padding: 0 1.6rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.button i,
.button::before,
.button::after {
    flex-shrink: 0;
    width: 3rem;
    height: 3px;
    border-radius: 3px;
    font-size: 0;
    line-height: 0;
}

.button,
.button i,
.button::before,
.button::after {
    background: var(--main);
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button--up,
.button--plus,
.button--menu,
.button--close {
    flex-shrink: 0;
    flex-direction: column;
    min-height: 4rem;
    height: 4rem;
    width: 4rem;
    padding: 0;
    gap: 3px;
    padding: 0;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
}

.button--plus {
    min-height: 5rem;
    height: 5rem;
    width: 5rem;
}

.button--up {
    border-radius: 50%;
    position: fixed;
    right: 2rem;
    bottom: -3rem;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.button--up.active {
    bottom: 5rem;
    opacity: 1;
    visibility: visible;
    display: block;
}

@media (min-width: 576px) {
    .button--up.active {
        bottom: 2rem;
    }
}

.button--menu i,
.button--plus::before,
.button--plus::after,
.button--menu::before,
.button--menu::after,
.button--up::before,
.button--close::before,
.button--close::after {
    content: "";
    display: block;
}

.button--up::before,
.button--plus::before,
.button--plus::after,
.button--close::before,
.button--close::after {
    position: absolute;
    top: 50%;
    left: 50%;
}

.button--plus::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.button--plus.active::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

.button--plus::after {
    transform: translate(-50%, -50%);
}

.button--close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button--close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button--up::before {
    width: 1.45rem;
    height: 1.45rem;
    border: solid var(--white);
    border-width: 3px 0 0 3px;
    transform: translate(-50%, -25%) rotate(45deg);
}

/*=======================================================*/

.button:focus,
.button:focus i,
.button:active,
.button:active i {
    border: none;
}

.button:focus,
.button:focus i,
.button:focus::before,
.button:focus::after,
.button:active,
.button:active i,
.button:active::before,
.button:active::after {
    outline: none;
    background: var(--pressed);
    color: var(--white);
}

@media (hover: hover) {
    .button:hover,
    .button:hover i,
    .button:hover::before,
    .button:hover::after {
        background: var(--hover);
        color: var(--white);
        text-decoration: none;
    }
}

.button--transparent,
.button--transparent:focus,
.button--transparent:active {
    background: none;
}

@media (hover: hover) {
    .button--transparent:hover {
        background: none;
    }
}