.header {
    width: 100%;
    padding: 2rem 0;
    background: var(--gradient-light);
    position: fixed;
    top: -2px;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

[data-scrolled="true"] .header {
    padding: 1rem 0;
}

[data-scrolled="true"] .header .logo {
    width: 4rem;
}

[data-scrolled="true"] .header .link {
    padding: 0.5rem 0;
}

@media (min-width: 768px) {
    .header .button {
        display: none;
    }
}

.header__inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}