@use "modules";

.page-error {
	background: var(--gray-dark);
}

.error {
	&__inner {
		align-items: center;
		gap: 0;
		max-width: modules.$md;
		color: var(--white);
	}

	&__text,
	&__image {
		max-width: 60rem;
	}
}
