@use "../index";

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 3rem;

	@include index.response-min(index.$md) {
		width: 4rem;
	}

	img {
		width: 100%;
	}
}

